.choose-your-plan {
  background-color: #ffeb3b; /* Yellow background */
  padding: 40px;
  text-align: center;
}

.choose-your-plan h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.plans {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 40px;
}

.plan-box {
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.plan-top {
  background-color: #87ceeb; /* Sky blue */
  padding: 15px;
  color: #fff;
}

.plan-top h3 {
  font-size: 1.5rem;
  margin: 5px 0;
}

.plan-top p {
  font-size: 1rem;
  margin: 0;
}

.plan-bottom {
  background-color: #fff;
  padding:  15px;
  color: #333;
}

.plan-bottom p {
  margin: 10px 0;
  font-size: 1rem;
}

.plan-bottom button {
  background-color: #87ceeb; /* Sky blue */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.plan-bottom button:hover {
  background-color: #5b9bd5;
}
