/* Ensure no margin or padding affects the body or root */
body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .hero-section {
    background-color: var(--background-color);
    width: 100%;
    height: 100vh;  /* Full height */
    display: flex;
    align-items: center;
    justify-content: flex-end;  /* Align text to the right */
    padding: 0;  /* Ensure no padding is applied here */
    box-sizing: border-box;  /* Include padding in width/height calculations */
    transition: background-color 0.3s ease;
  }
  
  .hero-content {
    max-width: 600px;
    text-align: right;  /* Right-aligned text */
    padding: 100px;
  }
  
  .hero-content h1 {
    font-size: 3em;
    color: var(--highlight-color);
    margin-bottom: 15px;
    transition: color 0.3s ease;
  }
  
  .hero-content p {
    font-size: 1.2em;
    color: var(--text-color);
    margin-bottom: 30px;
    transition: color 0.3s ease;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end; /* Align buttons to the right */
  }
  
  /* Note: Button styles are now handled by Button.css */
  